# Swift Version
--swiftversion 6.0

# 100-character line width
--maxwidth 100

# Wrap function parameters & arguments onto separate lines when exceeding maxwidth
--wrapparameters before-first
--wraparguments before-first
--closingparen balanced

# Indentation & Linebreaks
--indent 4
--linebreaks lf
--trimwhitespace always

# Clean redundant code
--redundanttype inferred
--stripunusedargs always
--disable redundantSelf

# Modern 4-line Open Source License Header
--header "\n  {file}\n  AKPlayer\n\n  Copyright (c) 2020 Amalendu Kar. All rights reserved.\n  Licensed under the MIT license. See LICENSE file in the project root.\n"